body {
    background-color: mediumaquamarine;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
}


#header-nav {
    background-color: #ffffff;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url("/images/logo.svg") no-repeat;
    width: 80px;
    height: 100px;
    margin: 10px 15px 10px 15px;
}


.navbar-brand {
    padding-top: 25px;
}

#logo-title {
    font-family: 'Reem Kufi Ink', sans-serif;
    color: black;
    font-size: 2em;
    line-height: 0.75;
}

.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a {
    text-decoration: none;
}

.navbar-brand a {
    font-family: 'Reem Kufi Ink', sans-serif;
    color: #000000;
    text-transform: uppercase;
    font-size: 0.8em;
}

.navbar-brand p span {
    vertical-align: middle;
}

#nav-list {
    margin-top: 10px;
    margin-right: 20px;
}

#nav-list a{
    color: black;
    text-align: center;
}
#nav-list a:hover {
    background-color: black;
    color: white;
}
#nav-list a span {
    font-size: 1.2em;
}

#nav-list li {
    margin-left: 25px;

}

#nav-list>#phone {
    margin-left: 50px;
}
#phone a {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;
}
#phone i {
    margin-right: 10px;
}