body {
    background-color: white;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
}


#header-nav {
    background-color: #ffffff;
    border-radius: 0;
    border: 0;
}


#logo-title {
    font-family: 'Reem Kufi Ink', sans-serif;
    color: black;
    font-size: 2em;
}


.nav-item {
    font-family: 'Reem Kufi Ink', sans-serif;
    color: #000000;
    text-transform: capitalize;
    font-size: 1em;
}


.card-container {
    margin-top: 100px;
}